ion-item{
    margin-top:25px;
    --color:#333; //Color letra del input
    //--highlight-color-valid: ; Cambia el color de la linea del input cuando esta valida
    //--highlight-color-invalid: ; Cambia Color linea del input cuando esta invalida, funciona al hacerle clic altiro como focus igual
    padding: 0 25px;
    --padding-start:0px;
    --padding-end:0px;
}

.encabezado{
    --background: #012c56;
    --background: linear-gradient(90deg,#012c56 0%,#004f9e 100%);
    --color: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px rgba(94, 137, 253, 0.5);
    height: 139px; 
}

ion-toolbar{
    text-align: center;
}

ion-toolbar ion-icon{
    font-size: 25px;
    color: #ffffff;
}

ion-button{
    margin-top:50px;
    padding: 0 20px;
}

ion-button p{
    color:white;
}

ion-text p{
    text-align: center;
    margin-top: 100px;
    text-decoration: underline;
}

ion-text:hover{
    cursor:pointer;
}