<!--<app-encabezado titulo="RegistrAPP"></app-encabezado>-->
<ion-header>
  <ion-toolbar class="ion-padding encabezado" mode="md">
    <ion-title><img src="../assets/image/Logo.png" alt="Logo RegistrAPP"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-button routerLink="../scanearqr" class="animate__animated animate__fadeInUp" color="duoc-amarillo" strong="true" type="submit" shape="round" expand="block" mode="md">
      <p>Ir a scannear</p> 
    </ion-button>
    <ion-button routerLink="../categoria-comidas" class="animate__animated animate__fadeInUp" color="duoc-amarillo" strong="true" type="submit" shape="round" expand="block" mode="md">
      <p>Ir a categoria comidas</p> 
    </ion-button>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" >
      <ion-item lines="inset" mode="md">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input inputmode="text" type="text" name="usuario" required [(ngModel)]="usuario.username"></ion-input>
      </ion-item>
      <ion-item lines="inset" mode="md">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input inputmode="text" type="password" name="password" required [(ngModel)]="usuario.password"></ion-input>
      </ion-item>
      <ion-button class="animate__animated animate__fadeInUp" color="duoc-amarillo" strong="true" type="submit" shape="round" expand="block" mode="md">
        <p>Registrarse</p> 
      </ion-button>
    </form>
    <ion-button routerLink="../iniciar-sesion" class="animate__animated animate__fadeInUp" color="duoc-amarillo" strong="true" type="submit" shape="round" expand="block" mode="md">
      <p>Ir a iniciar Sesion</p> 
    </ion-button>
  
    <ion-text routerLink="../restablecer-contrasena" color="tertiary">
      <p>Olvidé mi contraseña</p>
    </ion-text>
  </div>
  
</ion-content>

<app-footer></app-footer>
