// :root {
//     --ion-color-duoc: #012c56;
//     --ion-color-duoc-rgb: 1,44,86;
//     --ion-color-duoc-contrast: #ffffff;
//     --ion-color-duoc-contrast-rgb: 255,255,255;
//     --ion-color-duoc-shade: #01274c;
//     --ion-color-duoc-tint: #1a4167;
//   }
  
//   .ion-color-duoc {
//     --ion-color-base: var(--ion-color-duoc);
//     --ion-color-base-rgb: var(--ion-color-duoc-rgb);
//     --ion-color-contrast: var(--ion-color-duoc-contrast);
//     --ion-color-contrast-rgb: var(--ion-color-duoc-contrast-rgb);
//     --ion-color-shade: var(--ion-color-duoc-shade);
//     --ion-color-tint: var(--ion-color-duoc-tint);
//   }

.encabezado{
    background: #012c56;
    background: linear-gradient(90deg,#012c56 0%,#004f9e 100%);
    color: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px rgba(94, 137, 253, 0.5); 
}

ion-toolbar ion-icon{
    font-size: 25px;
    color: #ffffff;
}

#menubutton{
    font-size: 25px;
}