<ion-header>
  <ion-toolbar class="ion-padding encabezado" color="duoc">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title id="titulo" mode="ios">
      Asistencia   
    </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let i of asistencias2" >
      <ion-label>{{i.idasig}}</ion-label>
      <ion-label>{{i.fecha | date:'dd/MM/yyyy'}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>


