<ion-header>
  <ion-toolbar>
    <ion-title>{{category}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let meal of meals" >
    <ion-card-header>
      <ion-card-title>{{meal.strMeal}}<ion-icon name="ellipsis-vertical" (click)="shareRecipe(meal.idMeal)"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-img [src]="meal.strMealThumb"></ion-img>
    <ion-card-content (click)="onClick(meal.idMeal)">
      Ver receta
    </ion-card-content>
  </ion-card>
</ion-content>
